@charset "utf-8";

#main-form label {
    display: inline-block;
    float: left;
    padding-right: 25px;
    padding-top: 0.5%;
    text-align: right;
    width: 25.6%;
    word-wrap: break-word;
}

span.tbox-wrap {
    margin-bottom: 5px;
}

span.tbox-wrap input {
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #d9d9d9 !important;
    box-sizing: border-box;
    padding: 3px !important;
    width: 295px;
}

span.tbox-wrap select {
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #d9d9d9 !important;
    box-sizing: border-box;
    padding: 3px !important;
    width: 120px;
}

#main-form .error {
    color:red;
}